<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- No servlet definitions needed here.
         LoginServlet, LogoutServlet, RecordSaleServlet, UpdateStockServlet,
         and ViewInventoryServlet are all registered automatically via their
         @WebServlet annotations. -->

</web-app>